<h1>Flights Index Page</h1>

<div class="all-flights">
  <ul>
    <% @flights.each do |flight| %>
      <li id="flight-<%=flight.number%>">
        <%= flight.number %> <%= flight.airline.name %>
        <ul>
          <% flight.passengers.each do |p| %>
          <li id="pass-<%= p.id %>"style="display:inline-block">
            <%= p.name %>---<%= button_to "Remove Passenger", {action: "update", id: p, flight_id: flight.id}, method: :patch %>
          </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
